.contact-footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.container-qwe {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  width: 231px;
  flex-shrink: 0;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logotype {
  display: inline-block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color-secondary);
  margin-bottom: 20px;
  transition: color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.contact-footer-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.contact-footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color-secondary);
  transition: fill var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.contact-footer-link2 {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: fill var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.connect {
  display: flex;
  flex-direction: column;
  margin-right: 83px;
}
.connect-to-us {
  font-weight: 700;
  font-size: 14px;
  color: var(--accent-color-secondary);
  margin-bottom: 20px;
}
.connect-to-us-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-footer-list-item {
  width: 44px;
  height: 44px;
}
.social-footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    transition: background-color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.social-footer-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--accent-color-secondary);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit {
  display: flex;
  flex-direction: column;
}
.submit-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-color-secondary);
  transition: color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-submit-form {
  display: flex;
}
.footer-submit-input {
  font-family: inherit;
  min-width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--accent-color-secondary);
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.footer-btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  padding: 10px 28px 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color-secondary);
  cursor: pointer;
  transition: color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-icon {
  width: 100%;
  height: 100%;
  fill: var(--accent-color-secondary);
  transition: fill var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 10px;
}
