.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-right: 93px;
    margin-bottom: 0;
  }
}
.connect-to-us,
.submit-title {
  margin-bottom: 20px;
  @include text();
  text-align: center;
  text-transform: uppercase;
  color: $social-icon-light;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.social-list {
  display: flex;
  align-items: flex-start;

  .ourteam-list & {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 30px;
    }
  }
}
.social-list-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color $time-hover cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.social-list-icon {
  width: 20px;
  height: 20px;

  transition: fill $time-hover cubic-bezier(0.4, 0, 0.2, 1);

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: $social-icon-light;
  }
}
.social-footer-list-icon {
  width: 20px;
  height: 20px;

  transition: fill $time-hover cubic-bezier(0.4, 0, 0.2, 1);

  .social-footer-list-link:hover &,
  .social-footer-list-link:focus & {
    fill: $social-icon-light;
  }
}
.social-icon-light {
  fill: $social-icon-light;
}
.social-list-icon {
  fill: $social-icon-grey;
}
