h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
body {
  font-family: $primary-font;
  font-size: 14px;
  color: $primary-text-color;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
